<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../includes/head'); %>
    <title>Formulaire envoyée</title>
  </head>
  <body class="container" style="background-color: black">
    <h1 class="mt-5 text-success">Formulaire envoyée</h1>
    <p class="text-white">
      <%= "- " + name %>
      <br />
      <%= "- " + email %>
      <br />
      <%= "- " + message %>
      <br />
      <%= "- " + messageSuccess %>
    </p>

    <button class="btn btn-dark btn-lg">
      <a href="/">Retour a la page d'acceuil</a>
    </button>
  </body>
</html>
